@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #5B483A;
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
  margin: 0;
  height: 100vh;
}

.container {
    background: url(assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    padding: 50px;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.container.show-nav .circle {
    transform: rotate(-70deg);
  }

.circle {
    background-color: #F1CDB3;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #292929;
}

.circle button:focus {
    border: 0;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
  }
  
  nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
  }
  
  nav ul {
    list-style-type: none;
    padding-left: 30px;
  }
  
  nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
  }
  
  nav ul li i {
    font-size: 20px;
    margin-right: 10px;
  }
  
  nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
  }
  
  nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
  }

.content {
    position: relative;
    min-height: 100vh;
}

.background-image {
    position: absolute;
    bottom: 0;
    left: 75vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
}

.logo-heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-bottom: 3%;
}

.logo-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.light-text {
    color: #CDCDCD;
}

.heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 7%;
}

.button-text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;
    text-decoration: none;
}

.button-primary {
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px; 
}

.button-primary:hover {
    background: #ffe5d2;
}

.start-screen-info {
    width: 40vh;
    margin-left: 40px;
    margin-top: 10%;
}

.start-screen-text {
    margin-bottom: 14%;
}